body {
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  color: #fff;
  background-color: #fff;
}
#hero {
  overflow: hidden;
  position: relative;
}
#content {
  background-color: #130d0a;
  padding: 0rem 3rem 0rem 3rem;
}
.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}
#hero-mobile {
  display: none;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom / cover;
  height: 320px;
}
.first-section {
  padding: 50px 0 20px 0;
}
.text-header {
  font-size: 50px;
  text-align: center;
}
h1 {
  line-height: 120%;
  font-size: 64px;
  margin-bottom: 30px;
}
p {
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  line-height: 150%;
}
#hero, .layer {
  min-height: 800px;
}
.layer-bg {
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg-image.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  text-align: center;
}
.landing-content{

}
.layer-1 {
  background-image: url(crows.png);
  height: 100vh;
  background-position: left ;
}
.layer-2 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png);
}
.layer-3 {
  background-image: url(plauge.png);
  background-position: left bottom;
}
.layer-4 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png
		);
}
.layer-overlay {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png
		);
}
section{
  padding: 50px 0 20px 0;
}
i{
  padding:20px;
}
i:hover{
  color:#54C7E6;
  transition: 1s ease-in-out;
}
h1{
  text-align: center;
}
.container{
  display: grid;
  grid-gap: 3rem;
  padding-left:5rem;
  background-color: #130D0A;
  padding-right: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-image:  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png);
  border-image-slice: 20;
  border-image-width: 20;
  border-image-outset: 1;
  border-image-repeat: round;

}
.img{
  width: 100%;
  height: auto;
}

hr{
  width:50%;
}
.awards{
  padding: 3rem 5rem 3rem 5rem;
    color: white;
    background-color: rgba(45, 167, 189, 0.719);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg-image-2.jpg);
    background-attachment: fixed;
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 1rem;
    color: white;
}
.aw-cards{
  padding:1rem 2rem 1rem 2rem;
  margin:1rem;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 1s cubic-bezier(.25,.8,.25,1);
}
.aw-cards:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform:scale(1.05);
  color:#54C7E6!important;
}
mark{
  color:#54C7E6;
  background-color: transparent;

}

header {
	position: fixed;
	z-index: 40000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	top: 0;
	background-color: #130D0A;
  display: flex;
  PADDING:1rem;
	align-items: center;
	justify-content: center;
	transition: top 0.5s ease-in-out;
	width: 100%;
}

.nav-up {
	top: -200px;
}


.landing-content p {
	text-align: center;
}

header a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

a:hover {
	color: #54C7E6;;
	transition: 0.5s;
}

header nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

li a {
	text-transform: uppercase;
	padding-right: 2rem;
	text-align: center;
}
